<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>QCCHub | Sign Up</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
@{ Layout = null;}
@model QccHub.DTOS.ForgotPasswordVM
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo"> QccHub </div>
        <div class="card">
            <div class="card-body login-card-body">
                <form action="@Url.Content("~/Account/ForgotPassword")" method="post" role="form">
                    @Html.AntiForgeryToken();
                    <div class="mb-3">
                        <div class="input-group">
                            <input type="email" asp-for="Email" required class="form-control" placeholder="Email">
                        </div>
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    
                    <span class="text-danger">
                        @Html.ValidationMessage("Error")
                    </span>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Send email</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>