@model News

    <main id="main">
        <div class="JobContent">
            <section class="container">
                <div class="row">
                    <!-- left side -->
                    <div class="col-md-3">
                        <div class="left all">
                            <div class="postJob">
                                <div class="imgCompany">
                                    <img src="/img/Rectangle 60.png" style="height:158px;">
                                </div>
                                <div class="CompanyName">
                                    <h4>
                                        Swan Global WLL
                                    </h4>
                                    <p>Looking for talent?</p>
                                    <hr>
                                    <button class="btn btn-outline-info">Post A Job</button>
                                </div>
                            </div>

                            <div class="yourJobs">
                                <div class="uniDeails">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h4>Resident Engineer</h4>
                                            <h6>Sinopack</h6>
                                            <small><i class="fas fa-map-marker-alt"></i> Qatar</small>
                                        </div>
                                        <div class="col-md-4">
                                            <img src="/img/Rectangle 86.png" style="height: 46px;">
                                        </div>
                                    </div>
                                    <div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                            </div>
                                            <div class="col-md-6" style="font-size: 89%;">
                                                <small style="color: #ea222a;">3.74</small><small>(567 reviews)</small>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="detailsJob">
                                            <div class="row text-center">
                                                <div class="col-md-6">
                                                    <small>Salaries</small>
                                                </div>
                                                <div class="col-md-6">
                                                    <small class="label-danger">Open Job</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="yourJobs">
                                <div class="uniDeails">
                                    <div class="row">
                                        <div class="col-md-8">
                                            <h4>Resident Engineer</h4>
                                            <h6>Sinopack</h6>
                                            <small><i class="fas fa-map-marker-alt"></i> Qatar</small>
                                        </div>
                                        <div class="col-md-4">
                                            <img src="/img/Rectangle 86.png" style="height: 46px;">
                                        </div>
                                    </div>
                                    <div>
                                        <hr>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i>
                                            </div>
                                            <div class="col-md-6" style="font-size: 89%;">
                                                <small style="color: #ea222a;">3.74</small><small>(567 reviews)</small>
                                            </div>
                                        </div>
                                        <hr>
                                        <div class="detailsJob">
                                            <div class="row text-center">
                                                <div class="col-md-6">
                                                    <small>Salaries</small>
                                                </div>
                                                <div class="col-md-6">
                                                    <small class="label-danger">Open Job</small>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>




                        </div>
                    </div>
                    <!-- center side -->
                    <div class="col-md-9">
                        <div class="center all">
                            <!-- education-sction -->
                            <!-- search input -->
                            <div class="Education details-Edu-Expe-Certi">
                                <div class="univeristy">
                                    <!-- job one -->
                                    <div class="uniDeails">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4>@Model.Title</h4>
                                                <div class="alert alert-danger" role="alert">
                                                    <a href="#" class="alert-link newsSourcPreview">@Model.Source</a>.
                                                </div>
                                            </div>
                                        </div>
                                        <div> @*NOTE: raw class damages content*@
                                            @Html.Raw(Model.Details)
                                        </div>
                                        
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </section>
        </div>

    </main>