@model News

    <main id="main">
        <div class="JobContent">
            <section class="container">
                <div class="row">
                    <!-- center side -->
                    <div class="col-md-12">
                        <div class="center all">
                            <!-- education-sction -->
                            <!-- search input -->
                            <div class="Education details-Edu-Expe-Certi">
                                <div class="univeristy">
                                    <!-- job one -->
                                    <div class="uniDeails">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <h4>@Model.Title</h4>
                                                <div class="alert alert-danger" role="alert">
                                                    <a href="#" class="alert-link newsSourcPreview">@Model.Source</a>.
                                                </div>
                                            </div>
                                        </div>
                                        <div> @*NOTE: raw class damages content*@
                                            @Html.Raw(Model.Details)
                                        </div>
                                        
                                    </div>

                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </section>
        </div>

    </main>