<!doctype html>
<html lang="en">
<head>
    <title>Admin Dashboard</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="~/img/favicon.png" rel="icon">
    <link href="~/img/favicon.png" rel="apple-touch-icon">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/adminStyle.css">
    @RenderSection("Styles", false)

</head>
<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="custom-menu">
                <button type="button" id="sidebarCollapse" class="btn btn-primary">
                </button>
            </div>
            <div class="img bg-wrap text-center py-4" style="background-image: url(/img/bg_1.jpg);">
                <div class="user-logo">
                    <div class="img" style="background-image: url(/img/logoAdmin.jpg);"></div>
                    <!-- <h3>Catriona Henderson</h3> -->
                </div>
            </div>
            <ul class="list-unstyled components mb-5">
                <li class="active">
                    <a asp-area="Admin" asp-controller="Home" asp-action="News">
                        <i class="fa fa-newspaper-o mr-3" aria-hidden="true"></i>
                        News
                    </a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Home" asp-action="Jobs">
                        <span class="fa fa-briefcase mr-3"></span> Jobs
                    </a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Home" asp-action="Projects">
                        <span class="fa fa-trophy mr-3"></span> B2B
                    </a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Home" asp-action="Companies">
                        <span class="fa fa-building mr-3"></span> Companies
                    </a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Home" asp-action="Users">
                        <span class="fa fa-users mr-3"></span> Users
                    </a>
                </li>
                <li>
                    <a asp-area="Admin" asp-controller="Home" asp-action="MarketInfo">
                        <span class="fa fa-users mr-3"></span> Market Info
                    </a>
                </li>
                <li>
                    <a href="@Url.Content("~/account/logout")"><span class="fa fa-sign-out mr-3"></span> Sign Out</a>
                </li>
            </ul>

        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5 pt-5">
            @RenderBody()
        </div>
    </div>

    <script src="~/vendor/jquery/jquery.min.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Admin.js"></script>
    @RenderSection("Scripts", false)

</body>
</html>
